@model CodeFighter.BL.Game

<style type="text/css">
    #wrap {
        width: 600px;
        margin: 0 auto;
    }

    #left_col {
        float: left;
        width: 300px;
    }

    #right_col {
        float: right;
        width: 300px;
    }
</style>

<div>
    <div id="wrap">
        <div id="left_col">
            <h6 id="Player1Name">@Model.Player1.Name</h6>
            <h6 id="Player1Life">@Model.Player1.LifeString</h6>
            <div>
                @using (Html.BeginForm("Index", "Match", new {isPlayer1 = true, Move = "P"}, FormMethod.Post))
                {
                    <input type="submit" id="Player1Punch" name="submit" value="Punch" @((Model.HasWinner()) ? "disabled" : "")/>
                }
                @using (Html.BeginForm("Index", "Match", new {isPlayer1 = true, Move = "K"}, FormMethod.Post))
                {
                    <input type="submit" id="Player1Kick" name="submit" value="Kick" @((Model.HasWinner()) ? "disabled" : "")/>
                }
                @using (Html.BeginForm("Index", "Match", new {isPlayer1 = true, Move = "S"}, FormMethod.Post))
                {
                    <input type="submit" id="Player1Special" name="submit" value="Special" @((Model.HasWinner() || !Model.Player1.CanApplySpecial()) ? "disabled" : "")/>
                }
                @using (Html.BeginForm("Index", "Match", new {isPlayer1 = true, Move = "H"}, FormMethod.Post))
                {
                    <input type="submit" id="Player1Heal" name="submit" value="Heal" @((Model.HasWinner() || !Model.Player1.CanApplyHeal()) ? "disabled" : "")/>
                }
                @if (Model.CanFatalityPlayer1())
                {
                    using (Html.BeginForm("Index", "Match", new {isPlayer1 = true, Move = "F"}, FormMethod.Post))
                    {
                        <input type="submit" id="Player1Fatality" name="submit" value="Fatality"/>
                    }
                }
            </div>
            <h6 id="Player1Energy">@Model.Player1.EnergyString</h6>


        </div>
        @ViewBag.Score
        <div id="right_col">
            <h6 id="Player2Name">@Model.Player2.Name</h6>
            <h6 id="Player2Life">@Model.Player2.LifeString</h6>
            <div>
                @using (Html.BeginForm("Index", "Match", new { isPlayer1 = false, Move = "P" }, FormMethod.Post))
                {
                    <input type="submit" id="Player2Punch" name="submit" value="Punch" @((Model.HasWinner()) ? "disabled" : "") />
                }
                @using (Html.BeginForm("Index", "Match", new { isPlayer1 = false, Move = "K" }, FormMethod.Post))
                {
                    <input type="submit" id="Player2Kick" name="submit" value="Kick" @((Model.HasWinner()) ? "disabled" : "") />
                }
                @using (Html.BeginForm("Index", "Match", new { isPlayer1 = false, Move = "S" }, FormMethod.Post))
                {
                    <input type="submit" id="Player2Special" name="submit" value="Special" @((Model.HasWinner() || !Model.Player1.CanApplySpecial()) ? "disabled" : "") />
                }
                @using (Html.BeginForm("Index", "Match", new { isPlayer1 = false, Move = "H" }, FormMethod.Post))
                {
                    <input type="submit" id="Player2Heal" name="submit" value="Heal" @((Model.HasWinner() || !Model.Player1.CanApplyHeal()) ? "disabled" : "") />
                }
                @if (Model.CanFatalityPlayer2())
                {
                    using (Html.BeginForm("Index", "Match", new { isPlayer1 = false, Move = "F" }, FormMethod.Post))
                    {
                        <input type="submit" id="Player2Fatality" name="submit" value="Fatality" />
                    }
                }
            </div>
            <h6 id="Player2Energy">@Model.Player2.EnergyString</h6>
        </div>
    </div>
</div>